<h2 mat-dialog-title>Zadanie 1</h2>
<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="Input" formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Input" formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Input" formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Input" formControlName="description">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Input" formControlName="description">
  </mat-form-field>
</mat-dialog-content>


<mat-dialog-actions>
  <button mat-raised-button (click)="closeDialog()">Zatwierdź</button>
</mat-dialog-actions>
