<h2 mat-dialog-title>{{data.task.title}}</h2>
<mat-dialog-content [formGroup]="form">
  <div class="row">
    <p>
      Odgadnij hasło z rebusa :)
    </p>
  </div>
  <img src="assets/Images/zagadka.png" style="width: 80%;" alt="Gra">
  <div class="row">
    <mat-form-field class="input-full-width">
      <input matInput placeholder="Jakie jest hasło?" formControlName="haslo">
    </mat-form-field>
  </div>

</mat-dialog-content>


<mat-dialog-actions>
  <button mat-raised-button (click)="closeDialog()" class="btn btn-info btn-lg active">Zatwierdź</button>
</mat-dialog-actions>
